<section class="wrapper main-wrapper row appManage" style="">
    <div class='col-xs-12'>
        <div class="page-title">
            <div class="pull-left">
                <h1 class="title">应用管理</h1>
            </div>
            <div class="pull-right hidden-xs appManage-refresh">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12">
        <section class="box ">
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="example_wrapper" class="dataTables_wrapper form-inline no-footer">
                            <div class="row">
                                <div class="col-xs-3 input-group primary pull-right appManageSearch">
                                    <input type="text" value="" ng-model="data.search" placeholder="输入应用名称..." class="form-control search-page-input">
                                    <span class="input-group-addon">
                                        <span class="arrow"></span>
                                    <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                            <table id="appList" class="display table table-hover table-condensed dataTable no-footer appList-table appManageTable" role="grid" aria-describedby="example_info">
                                <thead class="appManage-headle">
                                    <tr role="row">
                                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="ID">ID</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1">应用名称</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1">应用实例</th>
                                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">运行状态</th>
                                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">创建时间</th>
                                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">数据中心</th>
                                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">发布人员</th>
                                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">操作</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="app in appList | filter:data.search">
                                    <tr role="row" class="apply-tr" ng-class="{odd:$odd,even:$even}" ng-repeat="item in app.deployments">
                                        <td>{{$index+1}}</td>
                                        <td class="sorting_1">
                                            <p ng-click="showAppDeployDetail(item.deploy)">{{item.deploy.metadata.name}}</p>
                                        </td>
                                        <td>
                                            <p class="hoverHand" ng-click="showAppPodDetail(pod, app.dcId)" ng-repeat="pod in item.podList.items">{{pod.metadata.name}}</p>
                                        </td>
                                        <td class="appdemoS">
                                            <p ng-repeat="pod in item.podList.items">
                                                <span class="state-back">
                                                    <a  class="state-defult" ng-class="{'state-running': pod.status.phase == 'Running','state-pending': pod.status.phase == 'Pending','state-failed': pod.status.phase == 'Failed','state-succeeded': pod.status.phase == 'Succeeded','state-unknown': pod.status.phase == 'Unknown'}"></a>
                                                </span>
                                            </p>
                                        </td>
                                        <td>
                                            <p ng-repeat="pod in item.podList.items">{{pod.metadata.creationTimestamp}}</p>
                                        </td>
                                        <td>{{app.dcName}}</td>
                                        <td>
                                            <p>{{item.userName}}</p>
                                        </td>
                                        <td>
                                            <span class="apply-leave" ng-mouseleave="showBox[$index]=false">
                                                <button class="btn btn-warning" type="button" ng-click="rollingup(item, app.dcId, app.dcName, item.deploy.spec.template.spec.containers[0].image)">升级</button>
                                                <button class="btn btn-success" type="button" ng-click="rollback(item, app.dcId, item.deploy.metadata.name)">回滚</button>
                                                <button class="btn btn-info" type="button" ng-click="scale(item, app.dcId, item.deploy.metadata.name)">扩容</button>
                                                <button class="btn btn-danger" type="button" ng-click="delete(item, app.dcId, item.deploy.metadata.name)">删除</button>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="dataTables_paginate paging_bootstrap" id="example_paginate">
                                        <ul class="pagination pull-right">
                                            <li class="prev disabled"><a href="#"><i
                                                    class="fa fa-angle-double-left"></i></a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li class="next">
                                                <a href="#"><i class="fa fa-angle-double-right"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dataTables_info" id="example_info" role="status" aria-live="polite">
                                        Showing 1 to 10 of 50 entries
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- 刷新按钮 -->
    <div class="list-right">
        <div class="reload">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            <span class="glyphicon-class" ng-click="loadAppList()">刷新</span>
        </div>
    </div>
</section>
<ui-widget ng-if="widget.widgetAppPodDetail" config="appPodDetailConf"></ui-widget>
<ui-widget ng-if="widget.widgetAppDeployDetail" config="appDeployDetailConf"></ui-widget>
<ui-widget ng-if="widget.widgetRollingup" config="appRollingupConf"></ui-widget>
<ui-widget ng-if="widget.widgetRollback" config="appRollbackConf"></ui-widget>
<ui-widget ng-if="widget.widgetScale" config="appScaleConf"></ui-widget>
<ui-widget ng-if="widget.widgetDelete" config="appDeleteConf"></ui-widget>
<ui-widget ng-if="widget.widgetImageSelector" config="imageSelectorConf"></ui-widget>
<ng-atomic-notify></ng-atomic-notify>