<section class="wrapper main-wrapper row">

         <div class='col-xs-12'>
            <div class="page-title">

                <div class="pull-left">
                    <h1 class="title">历史发布</h1>
                </div>

                <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li class="hoverHand">
                            <a >上线</a>
                        </li>
                        <li class="hoverHand">
                            <a>升级</a>
                        </li>
                        <li class="hoverHand">
                            <a>回滚</a>
                        </li>
                        <li class="hoverHand">
                            <a>删除</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        
    <div class="col-lg-12">
        <section class="box ">
            <b class="pull-center-b"></b>
            <div class="content-body">    
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="timeline">
                            <li ng-repeat="item in historyList"  ng-class-odd="'timeline-inverted'">
                                <div class="timeline-badge animated flipInY">
                                    <i class="fa fa-smile-o"></i>
                                </div>
                                <div class="timeline-panel animated flipInY hoverHand" ng-click="historyLi(item)">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">应用名 {{ item.records.name }}</h4>
                                        <p>
                                            <small class="text-muted">
                                                <i class="glyphicon glyphicon-time"></i>发布时间 {{ item.records.actionAt }} 
                                            </small>
                                        </p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>数据中心: {{ item.dcName }}</p>
                                        <p>操作类型: {{ item.records.actionName }}</p>
                                        <p>发布人: {{ item.userName}}</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>   
</section>
<div class="history-wrap" ng-show="historyShowbox">
    <div class="history-box1">
        <p><span class="hoverHand" ng-click="historyShow()">×</span></p>
        <p> 副本： {{ Newreplicas }}</p>
        <p> 镜像： {{ Newimage }}</p>
        <p> 镜像获取策略： {{ NewimagePullPolicy }}</p>
        <p> cpu： {{ Newcpu }}</p>
        <p> memory： {{ Newmemory }}</p>
    </div>
</div>