.login-box{ height: 300px; width: 500px; position: fixed; top: 50%; left: 50%; margin: -150px 0 0 -250px; border: #3F51B5 2px solid; border-radius: 5px; background: #fff;}
.login-box h1{ text-align: center; color: #fff; background: #3F51B5; margin: 0; padding: 10px 0;}
.login-box p{ padding: 20px 30px 0;}
.login-box button{ margin: auto; display: block; margin-top: 20px;}