<section class="wrapper main-wrapper row" style=''>
    <div class='col-xs-12'>
        <div class="page-title">
            <div class="pull-left">
                <h1 class="title">基础镜像</h1> </div>
            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html"><i class="fa fa-home"></i>主页面</a>
                    </li>
                    <li>
                        <a href="blo-media.html">镜像管理</a>
                    </li>
                    <li class="active">
                        <strong>基础镜像</strong>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <!-- <h2 class="title pull-left">Java</h2> -->
                <div class="actions panel_actions pull-right">
                    <a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">
                <div class="row  tool-1">
                    <div class="col-xs-12">
                        <div class="custom-dropzone">
                            <div class="col-sm-8 drop-table tool-2">
                                <table class="table" id="custom-droptable">
                                    <thead>
                                        <tr>
                                            <th width="15%">工具包</th>
                                            <th width="15%">版本号</th>
                                            <th width="25%">适用系统</th>
                                            <th width="20%">最新发布时间</th>
                                            <th width="25%">工具包简介</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="4" class="tool-title">glibc</td>
                                            <td>2.17</td>
                                            <td>CentOS 7</td>
                                            <td rowspan="4" class="tool-data">2016-09-05</td>
                                            <td rowspan="4" class="tool-content">glibc，Linux系统中最底层的API，囊括了几乎所有的 UNIX 通行的标准</td>
                                        </tr>
                                        <tr>
                                            <td>2.12</td>
                                            <td>CentOS 6</td>
                                        </tr>
                                        <tr>
                                            <td>2.5</td>
                                            <td>CentOS 5</td>
                                        </tr>
                                        <tr>
                                            <td>2.23</td>
                                            <td>Fedora 24</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2 ">gcc</td>
                                            <td>6.2</td>
                                            <td>Win/Linux/Mac/Solaris</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-4 drop-area text-center clangular-1">
                                <div class="droppable-area clangular-2 ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  tool-1">
                    <div class="col-xs-12">
                        <div class="custom-dropzone">
                            <div class="col-sm-8 drop-table tool-2">
                                <table class="table" id="custom-droptable">
                                    <thead>
                                        <tr>
                                            <th width="15%">工具包</th>
                                            <th width="15%">版本号</th>
                                            <th width="25%">适用系统</th>
                                            <th width="20%">最新发布时间</th>
                                            <th width="25%">工具包简介</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="4">JDK</td>
                                            <td>1.7</td>
                                            <td>Win/Linux/Mac/Solaris</td>
                                        </tr>
                                        <tr>
                                            <td>1.8</td>
                                            <td>Win/Linux/Mac/Solaris</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-4 drop-area text-center java-1">
                                <div class="droppable-area java-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  tool-1">
                    <div class="col-xs-12 ">
                        <div class="custom-dropzone ">
                            <div class="col-sm-8 drop-table tool-2">
                                <table class="table " id="custom-droptable ">
                                    <thead>
                                        <tr>
                                            <th width="15%">工具包</th>
                                            <th width="15%">版本号</th>
                                            <th width="25%">适用系统</th>
                                            <th width="20%">最新发布时间</th>
                                            <th width="25%">工具包简介</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="4 ">Nginx</td>
                                            <td>1.7.9</td>
                                            <td>Win/Linux/Mac/Solaris</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-4 drop-area text-center nginx-1 ">
                                <div class="droppable-area clangular nginx-2 ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  tool-1">
                    <div class="col-xs-12 ">
                        <div class="custom-dropzone ">
                            <div class="col-sm-8 drop-table tool-2">
                                <table class="table " id="custom-droptable ">
                                    <thead>
                                        <tr>
                                            <th width="15%">工具包</th>
                                            <th width="15%">版本号</th>
                                            <th width="25%">适用系统</th>
                                            <th width="20%">最新发布时间</th>
                                            <th width="25%">工具包简介</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="4 ">Python运行环境</td>
                                            <td>3.2</td>
                                            <td>Win/Linux/Mac/Solaris</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-4 drop-area text-center python-1">
                                <div class="droppable-area clangular python-2 ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  tool-1">
                    <div class="col-xs-12 ">
                        <div class="custom-dropzone ">
                            <div class="col-sm-8 drop-table tool-2">
                                <table class="table " id="custom-droptable ">
                                    <thead>
                                        <tr>
                                            <th width="15%">工具包</th>
                                            <th width="15%">版本号</th>
                                            <th width="25%">适用系统</th>
                                            <th width="20%">最新发布时间</th>
                                            <th width="25%">工具包简介</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="4 ">C++</td>
                                            <td>5.7</td>
                                            <td>Win/Linux/Mac/Solaris</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-4 drop-area text-center cpp-1">
                                <div class="droppable-area clangular cpp-2 ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  tool-1">
                    <div class="col-xs-12 ">
                        <div class="custom-dropzone ">
                            <div class="col-sm-8 drop-table tool-2">
                                <table class="table " id="custom-droptable ">
                                    <thead>
                                        <tr>
                                            <th width="15%">工具包</th>
                                            <th width="15%">版本号</th>
                                            <th width="25%">适用系统</th>
                                            <th width="20%">最新发布时间</th>
                                            <th width="25%">工具包简介</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="4 ">MySQL Server</td>
                                            <td>5.7</td>
                                            <td>Win/Linux/Mac/Solaris</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-4 drop-area text-center mysql-1">
                                <div class="droppable-area clangular mysql-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
