<section class="wrapper main-wrapper row" style="">
    <div class='col-xs-12'>
        <div class="page-title">
            <div class="pull-left">
                <h1 class="title">镜像管理</h1>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12">
        <section class="box ">
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="example_wrapper" class="dataTables_wrapper form-inline no-footer">
                            <div class="row">
                                <div class="col-xs-3 input-group primary pull-right appManageSearch">
                                    <input type="text" ng-model="data.search" placeholder="输入镜像名称..." class="form-control search-page-input">
                                    <span class="input-group-addon">
                                        <span class="arrow"></span>
                                    <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                            <table class="Images-tables">
                                <thead class="appImages-headle">
                                    <tr role="row">
                                        <th>ID</th>
                                        <th>镜像名称</th>
                                        <th>标签组合</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="app in pagList | filter:data.search">
                                    <tr ng-class="{odd:$odd,even:$even}">
                                        <td>{{$index+1}}</td>
                                        <td ng-click="imgnameBtn(app)">
                                            <p>{{app.name}}</p>
                                        </td>
                                        <td>
                                            <p class="Images-more-p" ng-repeat="newI in app.tags">{{newI}}</p>
                                        </td>
                                        <td class="img-last-td">
                                            <p class="Images-more-p2" ng-repeat="newI in app.tags">
                                                <a href="javascript:;" class="btn btn-danger">删除</a>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="dataTables_paginate paging_bootstrap">
                                        <paging class="fr"
                                                page="1"
                                                page-size="5"
                                                total="totalNum"
                                                paging-action="pagClick(page, 5, total)"
                                                show-prev-next="true"
                                                show-first-last="true">
                                        </paging>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<ui-widget ng-if="widget.showAppDetail" config="appDetailConf"></ui-widget>
<ui-widget ng-if="widget.imagedetails" config="myImageDetails"></ui-widget>、

<!-- 镜像管理详情 （暂不显示所以注释） -->
<!-- <ui-widget class="extensionDatailsClass" ng-if="widget.imgDatails" config="imgConfig"></ui-widget> -->

