.appManageSearch{ margin:20px 15px 20px 0;}
.appManageSearch input:focus{ width:500px !important;}
.appManageTable{ text-align:center; margin-top:20px;}
.appManageTable th{ font-size:16px !important; font-weight:bold !important;}
.appManageTable td{ vertical-align:middle !important; box-sizing:border-}
.appManageTable td:nth-child(2) p { cursor:pointer;}
.appManageTable td > p { padding:5px 0; border-top:1px solid #eeeeee;}
.appManageTable td > p:first-child{ border:none;}

.appManage-refresh { color: #3f51b5; line-height: 55px; padding-right: 50px; cursor: pointer;}