<section class="wrapper main-wrapper row">
    <div class='col-xs-12'>
        <div class="page-title">
            <div class="pull-left">
                <h1 class="title">创建用户</h1>                            
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left"></h2>
            </header>
            <div class="content-body">
                <div class="row">
                    <form ng-submit="setUsersubmit()" name="login" >
                        <div class="col-xs-12 col-sm-9 col-md-8">

                            <div class="form-group">
                                <label class="form-label" for="field-1678">所属组织：</label>

                                <select ng-model="putUp.orgName" class="form-inputs">
                                    <option ng-repeat="item in activities" ng-selected="$first" value="{{item}}">{{item}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="field-1678">用户名：</label>
                                <span class="desc show-spans-1" ng-show="login.userName.$error.pattern">您的用户名不正确</span>
                                <span class="desc show-spans-1" ng-show="showUsernams">您的用户名重复，请您更换用户名</span>
                                <div class="controls">
                                    <input type="text" name="userName" class="form-control" id="field-1678" ng-model="putUp.userName" ng-pattern="/^[a-zA-Z]+\.[a-zA-Z]+([-][1-9]+)?$/" ng-focus="myUserNameFocus()" ng-blur="myUsernameBlur()" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="field-1678">密码：</label>
                                <div class="controls">
                                    <input type="password" name="password" class="form-control" id="field-1678" ng-model="putUp.password" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="field-1678">再次输入密码：</label>
                                <span class="desc show-spans-1" ng-show="againPasswordShow">您两次密码输入不一致</span>
                                <div class="controls">
                                    <input type="password" class="form-control" id="field-1678" ng-model="againPassword" ng-focus="againPwJudge()" />
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                <div class="text-left">
                                    <button class="btn btn-primary" ng-disabled="login.$invalid">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</section>
<status-mes message="message" status="status" ng-if="showstatusMes"></status-mes>