<section class="wrapper main-wrapper row" style="">
    <div class='col-xs-12'>
        <div class="page-title">
            <div class="pull-left">
                <h1 class="title">用户管理</h1>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12">
        <section class="box ">
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="example_wrapper" class="dataTables_wrapper form-inline no-footer">
                            <div class="row">
                                <div class="col-xs-3 input-group primary pull-right appManageSearch">
                                    <input type="text" value="" ng-model="data.search" placeholder="输入应用名称..." class="form-control search-page-input">
                                    <span class="input-group-addon">
                                        <span class="arrow"></span>
                                    <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                            <table class="Images-tables">
                                <thead class="appImages-headle">
                                    <tr role="row">
                                        <th>ID</th>
                                        <th>用户名</th>
                                        <th>所属组织</th>
                                        <th>创建时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="item in pagList | filter:data.search">
                                    <tr ng-class="{odd:$odd,even:$even}">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            <p class="Images-more-p"> {{item.name}} </p>
                                        </td>
                                        <td>
                                            <p class="Images-more-p"> {{item.orgId}} </p>
                                        </td>
                                        <td>
                                            <p class="Images-more-p"> {{item.modifiedAt}} </p>
                                        </td>
                                        <td class="img-last-td">
                                            <p class="Images-more-p2">
                                                <a href="javascript:void(0);" class="btn btn-warning" ng-click="userUpdata(item)">更新</a>
                                                <a href="javascript:void(0);" class="btn btn-danger" ng-click="userDelete(item)">删除</a>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="dataTables_paginate paging_bootstrap">
                                        <paging class="fr"
                                                page="1"
                                                page-size="5"
                                                total="totalNum"
                                                paging-action="pagClick(page, 5, total)"
                                                show-prev-next="true"
                                                show-first-last="true">
                                        </paging>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<ui-widget ng-if="widget.userUpdate" config="userUpdateConfig"></ui-widget>
<ui-widget ng-if="widget.userDel" config="userDelConfig"></ui-widget>
<ng-atomic-notify></ng-atomic-notify>