<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li ng-class="{active:data.tabSwitch==0}" ng-init="data.tabSwitch=0" ng-click="data.tabSwitch=0">
                <a href="javascript:void(0);" aria-expanded="true">
                    <i class="fa fa-home"></i> 详细信息
                </a>
            </li>
            <li ng-class="{active:data.tabSwitch==1}" ng-click="data.tabSwitch=1">
                <a data-toggle="tab" href="#profile-1" aria-expanded="false">
                    <i class="fa fa-user"></i> 日志
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade app-detail" ng-class="{'active in':data.tabSwitch==0}">
                <div class="row">
                    <dl class="col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <dt>应用名称 : </dt>
                        <dd><span>{{originalData.metadata.name}}</span></dd>
                    </dl>
                </div>
                <div class="row">
                    <dl class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <dt>组织名称 : </dt>
                        <dd><span>{{originalData.metadata.namespace}}</span></dd>
                    </dl>
                    <dl class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <dt>镜像名称: </dt>
                        <dd><span>{{originalData.spec.containers[0].image}}</span></dd>
                    </dl>
                </div>
                <div class="row">
                    <dl class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <dt>启动时间 : </dt>
                        <dd><span>{{originalData.metadata.creationTimestamp}}</span></dd>
                    </dl>
                    <dl class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <dt>计算节点 : </dt>
                        <dd><span>{{originalData.spec.nodeName}}</span></dd>
                    </dl>
                </div>
                <div class="row">
                    <dl class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <dt>当前状态 : </dt>
                        <dd><span>{{originalData.status.phase}}</span></dd>
                    </dl>
                   <dl class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <dt>容器地址: </dt>
                        <dd><span>{{originalData.status.podIP}}</span></dd>
                    </dl>
                </div>
                <div class="row">
                    <dl class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <dt>开放端口: </dt>
                        <dd><span>{{originalData.spec.containers[0].ports[0].containerPort}}</span></dd>
                    </dl>
                    <dl class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <dt>重启次数 : </dt>
                        <dd><span>{{originalData.status.containerStatuses[0].restartCount}}</span></dd>
                    </dl>
                </div>
                <div class="row">
                    <div class="dataTables_wrapper form-inline labels-table">
                        <table class="table table-striped dt-responsive display dataTable dtr-inline">
                            <thead>
                                <tr role="row">
                                    <th colspan="2">标签组</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" ng-repeat="(key,value) in originalData.metadata.labels">
                                    <td>{{key}}&nbsp;&nbsp;:</td>
                                    <td>{{value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="profile-1" class="tab-pane fade" ng-class="{'active in':data.tabSwitch==1}">
                <p> 我是日志信息 </p>
            </div>
        </div>
    </div>
</div>
