<div class="form-group">
    <label class="form-label">账户余额：</label>
    <div class="controls">
        <input type="text" class="form-control" value="{{originalData.balance}}" disabled>
    </div>
</div>
<div class="form-group">
    <label class="form-label">规格：</label>
    <div class="controls resource-spec">
        <label ng-repeat="item in originalData.quotaPkg" class="form-label"
               ng-class="{checked: (dataTrans.quotas == $index)}">
            <span class="resource-spec-title">{{item.name}}</span>
            <p>
                <input type="radio" name="limits" value="{{$index}}" ng-model="dataTrans.quotas" ng-init="dataTrans.quotas = 0">
                CPU：{{item.cpu}}
                <br>MEM：{{item.mem}}
                <br>COST: ￥{{item.cost}}
            </p>
        </label>
    </div>
</div>

<div class="col-xs-12 btnBar">
    <button class="btn btn-primary" ng-click="orgUpdate()">提交</button>
    <button class="btn btn-primary" ng-click="$emit('closeWidget','orgRollingUp')">取消</button>
</div>