<div class="row">
    <div class="col-lg-12">
        <section class="box ">
            <b class="pull-center-b"></b>
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="timeline">
                            <li ng-repeat="item in param.history" ng-class-odd="'timeline-inverted'">
                                <div class="timeline-badge animated flipInY">
                                    <i class="glyphicon glyphicon-check"></i>
                                </div>
                                <div class="timeline-panel animated flipInY">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">{{item.namespace}}/{{ item.name }}</h4>
                                        <p class="rollback-revision">
                                            <i class="glyphicon glyphicon-time"></i>修订版本&nbsp;&nbsp;{{ item.revision }}
                                        </p>
                                    </div>
                                    <div class="history-box-1">
                                        <div class="timeline-body">
                                            <p>镜像名称:&nbsp;&nbsp; {{ item.image }}</p>
                                            <p>应用实例数:&nbsp;&nbsp; {{ item.replicas.current }} 可用 | {{ item.replicas.desire }} 期望</p>
                                        </div>
                                    </div>
                                    <div class="history-box-2">
                                        <button class="btn btn-danger" type="button" ng-click="$emit('submitRollback', item, param.dcId, param.appName)">回滚到此版本</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
