<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li ng-class="{active:data.tabSwitch==0}" ng-init="data.tabSwitch=0" ng-click="data.tabSwitch=0">
                <a href="javascript:void(0);" aria-expanded="true">
                    <i class="fa fa-home"></i> 手动扩容
                </a>
            </li>
            <li ng-class="{active:data.tabSwitch==1}" ng-click="data.tabSwitch=1" ng-click="data.tabSwitch=0">
                <a href="javascript:void(0);" aria-expanded="true">
                    <i class="fa fa-user"></i> 自动扩容
                </a>
            </li>
        </ul>

        <div class="tab-content">


            <form name="dilatation">

                <div class="tab-pane fade app-detail" ng-class="{'active in':data.tabSwitch==0}">
                    <div class="form-group">
                        <label class="form-label">应用名称：</label>
                        <span class="desc"></span>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="param.appName" ng-init="param.appName=originalData.deploy.metadata.name" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">镜像名称：</label>
                        <span class="desc"></span>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="param.imageName" ng-init="param.imageName=originalData.deploy.spec.template.spec.containers[0].image" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="field-replicas" class="form-label">实例个数：</label>
                        <span class="desc" ng-show="newSize" ng-init="newSize = true">选择您要扩容的应用实例的数量</span>
                        <span class="warn" ng-show="dilatation.size.$error.pattern"> 实例个数为1-10</span>
                        <div class="controls">
                            <input type="number" name="size" ng-model="param.newSize" ng-init="param.newSize=originalData.deploy.spec.replicas" id="field-replicas" class="form-control"
                                ng-focus="newSize = false" ng-blur="dilatation.size.$error.pattern ? newSize = false : newSize = true;" ng-pattern="/^([1-9]|10)$/">
                        </div>


                    </div>
                </div>

            </form>



            <div id="profile-1" class="tab-pane fade" ng-class="{'active in':data.tabSwitch==1}">
                自动扩容
            </div>
        </div>
    </div>
    <div class="col-xs-12 btnBar">
        <button class="btn btn-primary" type="button" ng-click="$emit('submitScale',param)">提交</button>
        <button class="btn btn-primary" type="button" ng-click="$emit('closeWidget','widgetScale')">取消</button>
    </div>
</div>
