<div class="widget-bg" id="{{config.widgetId}}">
    <div class="widget">
        <div class="widget-header">{{config.widgetTitle}}</div>
        <div class="widget-content">
            <div ui-app-pod-detail ng-if="config.isAppPodDetail" original-data="config.data"></div>
            <div ui-app-deploy-detail ng-if="config.isAppDeployDetail" original-data="config.data"></div>
            <div ui-app-rollingup ng-if="config.isRollingup" original-data="config.data"></div>
            <div ui-app-rollback ng-if="config.isRollback" original-data="config.data"></div>
            <div ui-app-scale ng-if="config.isScale" original-data="config.data"></div>
            <div ui-app-delete ng-if="config.isDelete" original-data="config.data"></div>
            <div ui-image-selector ng-if="config.isImageSelector"></div>
            <div ui-import-template ng-if="config.importTemplate"></div>
            <div ui-extensions-datails ng-if="config.extensionsDatails" original-data="config.data"></div>
            <div ui-org-rolling-up ng-if="config.orgRollingup" original-data="config.data"></div>

            <!-- 镜像管理详情 （暂不显示所以注释） -->
            <!-- <div ui-img-datails ng-if="config.imgDatails" original-data="config.data"></div> -->
            <div ui-userdata-update ng-if="config.isUserManageUpdate" original-data="config.data"></div>
            <div ui-userdata-delete ng-if="config.isUserManageDel" original-data="config.data"></div>
            <div ui-dcdata-delete ng-if="config.isDcManageDel" original-data="config.data"></div>
            <div ui-updata ng-if="config.isDcManageUpdata" original-data="config.data"></div>
            <div ui-deltemplate ng-if="config.isDelTemplate" original-data="config.data"></div>

        </div>
        <div class="widget-close" ng-click="closeWidget(config.widgetId)">×</div>

    </div>
</div>
