<div class="widget-bg" id="{{config.widgetId}}">
    <div class="widget">
        <div class="widget-header">{{config.widgetTitle}}</div>
        <div class="widget-content">
            <div ui-app-pod-detail ng-if="config.isAppPodDetail" original-data="config.data"></div>
            <div ui-app-deploy-detail ng-if="config.isAppDeployDetail" original-data="config.data"></div>
            <div ui-app-rollingup ng-if="config.isRollingup" original-data="config.data"></div>
            <div ui-app-rollback ng-if="config.isRollback" original-data="config.data"></div>
            <div ui-app-scale ng-if="config.isScale" original-data="config.data"></div>
            <div ui-app-delete ng-if="config.isDelete" original-data="config.data"></div>
            <div ui-image-selector ng-if="config.isImageSelector"></div>
        </div>
        <div class="widget-close" ng-click="closeWidget(config.widgetId)">×</div>
    </div>
</div>