.statusText {
    font-size: 16px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #fff;
    position: fixed;
    top: 60px;
    width: 100%;
    left: 0;
    transition: 1s all ease;
}
.suc {
    background-color: #4CAF50;
}
.err {
    background-color: #f44336;
}
