.widget-bg{ position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.3); z-index:10000;}
.widget{ position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; background:#fff; border-radius:5px; overflow:auto;}
.widget-header{ height:60px; line-height:60px; font-size:18px; text-indent:30px; width:100%; border-bottom: 2px solid #e1e1e1;}
.widget-content{ padding:20px 30px;}
.widget-close{ height:30px; width:30px; border-radius:15px; line-height:30px; top:15px; right:20px; font-family:sans-serif; cursor:pointer; color:#767676; border:1px solid #767676; position:absolute; font-size:18px; text-align:center;}
.widget-close:hover{ background:#767676; color:#fff;}

/*应用详情*/
#widgetAppDetail .widget{ max-height:500px; max-width:800px;}
#widgetAppDetail .tab-content{ height:350px; overflow-y:auto; word-break:break-all;}
#widgetAppDetail .app-detail{ padding:10px 20px;}
#widgetAppDetail .app-detail dl{ font-size:14px; margin-top:20px; margin-bottom:0;}
#widgetAppDetail .app-detail dt{ float:left; line-height:25px; font-weight:bold; text-align:right; width:70px;}
#widgetAppDetail .app-detail dd{ margin-left:80px; line-height:25px; font-weight:normal;}
#widgetAppDetail .app-detail dd span{ border-bottom:2px solid #d4d4d4;}
#widgetAppDetail .labels-table{ margin-top:20px;}
#widgetAppDetail .labels-table table{ border:none;}
#widgetAppDetail .labels-table th{ text-align:left; border:none !important;}
#widgetAppDetail .labels-table td{ padding:5px 10px !important; border:none;}
#widgetAppDetail .labels-table td:first-child{ width:1px; white-space:nowrap; text-align:right;}






