.rateArea {
    margin: 20px auto 0;
    width: 750px;

}
@media screen and (max-width: 1100px) {

    .rateArea {
        width: 510px;
    }
    .rateArea .rateLine {
        width: 90px;
    }
}
.rateLine {
    height: 5px;
    width: 150px;
    background-color: #ccc;
    margin-top: 22px;

}
.rateCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.rateActive {
    background-color: #3F51B5;
}
.rateBox {
    height: 500px;
    position: relative;
}
.rateMessage {
    color: #3F51B5;
    text-align: center;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
.rateMessage a{
    text-decoration: underline;
}
.rateArea div{
    cursor: default;
}

.hostReadonlyRadio {
    margin: 6px 5px!important;
}
.hostReadonlyLable {
    width: 60px;
    text-align: left;
    line-height: 28px;
    margin-bottom: 0;
}
.importTemplate {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    padding: 7px 10px ;
    background-color: #3F51B5;
}
.importTemplate:hover {
    background: #fff;
    color: #3F51B5;
    text-decoration: none;
}

.walkthrogh_more{
    line-height: 32px;
}

