.echartsBox {
    width: 330px;
    height:330px;
    margin: 0 20px 20px 15px;
    border: 1px solid rgba(0,0,0,0.09);
    box-shadow: 0 1px 3px rgba(33,33,33,.2);
}

.applyBox {
    width: 100%;
    height: 400px;
}

