<section class="wrapper main-wrapper row">
    <div class='col-xs-12'>
        <div class="page-title">
            <div class="pull-left">
                <h1 class="title">创建访问点</h1>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left"></h2>
            </header>
            <div class="content-body">
                <div class="row">
                    <form ng-submit="endpointBtn()" name="rollLogin">
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <div class="form-group">
                                <label class="form-label">访问点名称</label>
                                <span class="desc" ng-show="endpointPot" ng-init="endpointPot = true">应用名是您将要创建的应用的名称，组织内唯一</span>
                                <span class="desc show-spans-1"
                                      ng-show="rollLogin.endpointName.$error.pattern">您的应用名不正确</span>
                                <div class="controls">
                                    <input type="text" name="endpointName" class="form-control" id="field-15121"
                                           ng-model="endpointsJson.endpointsName"
                                           ng-pattern="/^[a-z0-9]([-a-z0-9]*[a-z0-9])?$/" ng-focus="endpointPot = false"
                                           ng-blur="rollLogin.endpointName.$error.pattern ?  endpointPot = false : endpointPot = true"
                                           required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label">数据中心：</label>
                                <span class="desc">数据中心是您的应用将要部署到的位置</span>
                                <div class="data-center">
                                    <label class="server-servers ngs_hide" ng-repeat="i in endpointsData.dataCenters"
                                           ng-class="{radio_bg:endDataTrans.endDataCenters[$index]}">
                                        <input type="checkbox" ng-true-value="true" ng-false-value="false"
                                               value="{{i.id}}" ng-model="endDataTrans.endDataCenters[$index]">
                                        {{ i.name }}
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" >标签组：</label>
                                <span class="desc show-spans-1"
                                      ng-show="rollLogin.endpointLabelsKey.$error.pattern || rollLogin.endpointLabelsVal.$error.pattern">您输入的格式不正确</span>
                                <i class="fa fa-plus-square server-add" ng-click="addendpointjlabel()"></i>
                                <p class="server-p-3">
                                    <span>key</span><input type="text" placeholder="name"
                                                           class="form-control server-btn"  disabled><b
                                        class="fa fa-minus inputB"></b>
                                    <span>value</span><input type="text" placeholder="{{ endpointsJson.endpointsName }}"
                                                             class="form-control server-btn"  disabled>
                                </p>
                                <p class="server-p-3">
                                    <span>key</span><input type="text" placeholder="author"
                                                           class="form-control server-btn"  disabled><b
                                        class="fa fa-minus inputB"></b>
                                    <span>value</span><input type="text" placeholder="{{ sessionName }}"
                                                             class="form-control server-btn"  disabled>
                                </p>
                                <p class="server-p-3">
                                    <span>key</span><input type="text" placeholder="type"
                                                           class="form-control server-btn"  disabled><b
                                        class="fa fa-minus inputB"></b>
                                    <span>value</span><input type="text" placeholder="endpoint"
                                                             class="form-control server-btn"  disabled>
                                </p>
                                <div class="controls" ng-repeat="endlei in endleis">
                                    <p class="server-p-3">
                                        <span>key</span><input type="text" name="endpointLabelsKey"
                                                               class="form-control server-btn"
                                                               ng-model="endlei.endlabelKey"
                                                               ng-pattern="/^[a-zA-Z0-9_-]*$/" required><b
                                            class="fa fa-minus inputB"></b>
                                        <span>value</span><input type="text" name="endpointLabelsVal"
                                                                 class="form-control server-btn"
                                                                 ng-model="endlei.endlabelValue"
                                                                 ng-pattern="/^[a-zA-Z0-9_-]*$/" required>
                                        <b class="server-jia fa fa-minus-square"
                                           ng-click="delendpointjlabel($index)"></b>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" >地址端口组</label>
                                <span class="desc show-spans-1" ng-show="rollLogin.endpointPortName.$error.pattern">您输入的名称不对，仅允许字母数字下划线</span>
                                <span class="desc show-spans-1"
                                      ng-show="!rollLogin.endpointPortName.$error.pattern && rollLogin.endpointPortIp.$error.pattern">IP地址不正确</span>
                                <span class="desc show-spans-1"
                                      ng-show="(!rollLogin.endpointPortName.$error.pattern && !rollLogin.endpointPortIp.$error.pattern) && rollLogin.endpointPortport.$error.pattern">端口不正确</span>
                                <i class="fa fa-plus-square endP-add" ng-click="addendpointEx()"></i>
                                <div class="controls" ng-repeat=" epI in mockEnd">
                                    <p class="server-p-4">
                                        <span>名称</span><input type="text" name="endpointPortName"
                                                              class="form-control server-btn"
                                                              ng-model="epI.ports.name" ng-pattern="/^[a-z0-9_-]*$/"
                                                              required><b class="fa fa-minus inputB"></b>
                                        <span>协议</span><select ng-model="epI.ports.protocol" class="form-inputs"
                                                               ng-options="act for act in epiPro"></select>
                                        <i class="fa fa-minus-square endP-del" ng-click="delendpointEx($index)"></i>
                                    </p>
                                    <p class="server-p-4">
                                        <span>ip地址</span><input type="text" name="endpointPortIp"
                                                                class="form-control server-btn"
                                                                ng-model="epI.addresses.ip"
                                                                ng-pattern="/^(\d+)\.(\d+)\.(\d+)\.(\d+)$/" required><b
                                            class="fa fa-minus inputB"></b>
                                        <span>端口</span><input type="number" name="endpointPortport"
                                                              class="form-control server-btn"
                                                              ng-model="epI.ports.port"
                                                              ng-pattern="/^([1-9]|[1-9]\d|[1-9]\d{2}|[1-9]\d{3}|[1-5]\d{4}|6[0-4]\d{3}|65[0-4]\d{2}|655[0-2]\d|6553[0-5])$/"
                                                              required>
                                    </p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                <div class="text-left">
                                    <button class="btn btn-primary" ng-disabled="rollLogin.$invalid">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </section>
    </div>
</section>
<status-mes message="message" status="status" ng-if="showstatusMes"></status-mes>

