<section class="wrapper main-wrapper row">
<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">创建访问点</h1>                            
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-xs-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left"></h2>
        </header>
        <div class="content-body">
            <div class="row">
                <form action ="#" method="post">
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <div class="form-group">
                            <label class="form-label" for="field-15121">访问点名称</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" value="" class="form-control" id="field-15121" ng-model="endpointsJson.endpointsName">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">数据中心：</label>
                            <span class="desc">数据中心是您的应用将要部署到的位置</span>
                            <div class="data-center">
                                 <label class="server-servers ngs_hide" ng-repeat="i in endpointsData.dataCenters" ng-class="{radio_bg:endDataTrans.endDataCenters[$index]}">
                                    <input type="checkbox" ng-true-value="true" ng-false-value="false"  value="{{i.id}}" ng-model="endDataTrans.endDataCenters[$index]" >
                                    {{ i.name }}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1678">标签组：</label>
                            <span class="desc"></span>
                            <i class="fa fa-plus-square server-add" ng-click="addendpointjlabel()"></i>
                            <p class="server-p-3">
                                <span>key</span><input type="text" placeholder="name" class="form-control server-btn" id="field-1678" disabled>：
                                <span>value</span><input type="text" placeholder="{{ endpointsJson.endpointsName }}" class="form-control server-btn" id="field-1678" disabled>
                            </p>
                            <p class="server-p-3">
                                <span>key</span><input type="text" placeholder="author" class="form-control server-btn" id="field-1678" disabled>：
                                <span>value</span><input type="text" placeholder="{{ sessionName }}" class="form-control server-btn" id="field-1678" disabled>
                            </p>
                            <p class="server-p-3">
                                <span>key</span><input type="text" placeholder="type" class="form-control server-btn" id="field-1678" disabled>：
                                <span>value</span><input type="text" placeholder="endpoint" class="form-control server-btn" id="field-1678" disabled>
                            </p>
                            <div class="controls" ng-repeat="endlei in endleis">
                                <p class="server-p-3">
                                    <span>key</span><input type="text" class="form-control server-btn" ng-model="endlei.endlabelKey" >：
                                    <span>value</span><input type="text" class="form-control server-btn" ng-model="endlei.endlabelValue">
                                    <b class="server-jia fa fa-minus-square" ng-click="delendpointjlabel($index)"></b>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1678">地址端口组</label><i class="fa fa-plus-square endP-add" ng-click="addendpointEx()"></i>

                            <div class="controls" ng-repeat=" epI in mockEnd">
                                <p class="server-p-4">
                                    <span>名称</span><input type="text" class="form-control server-btn" id="field-1678"  ng-model="epI.ports.name">：
                                    <span>协议</span><input type="text" class="form-control server-btn" id="field-1678" ng-model="epI.ports.protocol">
                                    <i class="fa fa-minus-square endP-del" ng-click="delendpointEx($index)"></i>
                                </p>
                                <p class="server-p-4">
                                    <span>ip地址</span><input type="text" class="form-control server-btn" id="field-1678"  ng-model="epI.addresses.ip">：
                                    <span>端口</span><input type="text" class="form-control server-btn" id="field-1678" ng-model="epI.ports.port">

                                </p>
                            </div>
                        </div>











                        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-primary" ng-click="endpointBtn()">提交</button>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>    
            </div>

    </section>
</div>
</section>
