<section class="wrapper main-wrapper row">
    <div class='col-xs-12'>
        <div class="page-title">
            <div class="pull-left">
                <h1 class="title">创建服务</h1>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left"></h2>
            </header>
            <div class="content-body">
                <div class="row">
                    <form ng-submit="serversubmit()" name="login">
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <div class="form-group">
                                <label class="form-label">服务名称：</label>
                                <span class="desc" ng-show="serviceNameInit" ng-init="serviceNameInit = true">服务名是您将要创建的应用的名称，组织内唯一</span>
                                <span class="warn" ng-show="login.serviceName.$error.pattern">您的应用名不正确</span>
                                <span class="warn" ng-show="nameExit">服务名已存在,请重新输入</span>
                                <div class="controls">
                                    <input type="text" name="serviceName" class="form-control"
                                           ng-model="param.serviceName" ng-pattern="/^[a-z0-9]([-a-z0-9]*[a-z0-9])?$/"
                                           ng-focus="serviceNameInit = false"
                                           ng-blur="login.serviceName.$error.pattern ? serviceNameInit = false : serviceNameExit() "
                                           required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">数据中心：</label>
                                <span class="desc">数据中心是您的应用将要部署到的位置</span>
                                <div class="data-center">
                                    <label class="server-servers ngs_hide" ng-repeat="i in extentServerLei.dataCenters"
                                           ng-class="{radio_bg:dataTrans.dataCenters[$index]}">
                                        <input type="checkbox" ng-true-value="true" ng-false-value="false"
                                               ng-model="dataTrans.dataCenters[$index]" value="{{i.id}}">
                                        {{ i.name }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">服务类型：</label>
                                <span class="desc"></span>
                                <div class="data-center" ng-init="serverRadios = 0">
                                    <label class="server-servers" ng-class="{radio_bg: serverRadios == 0}">
                                        <input type="radio" name="dataCenters" ng-model="serverRadios" value="0"
                                               ng-click="serverClick1()"> ClusterIP
                                    </label>
                                    <label class="server-servers" ng-class="{radio_bg: serverRadios == 1}">
                                        <input type="radio" name="dataCenters" ng-model="serverRadios" value="1"
                                               ng-click="serverClick1()"> NodePort
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="controls row">
                                    <label class="form-label">选择器：</label>
                                    <span class="desc show-spans-1"
                                          ng-show="login.serviceLabelKey.$error.pattern || login.serviceLabelValue.$error.pattern">只允许字母数字下划线</span>
                                    <span class="icon-plus col-sm-1 pull-right col-sm-pull-1">
                                            <i class="fa fa-plus-square" ng-click="addCheckeds()"></i>
                                    </span>
                                </div>
                                <div class="controls row" ng-repeat="newCheckeds in Checkeds">

                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">key</span>
                                            <input type="text" name="serviceLabelKey"
                                                   class="form-control"
                                                   ng-model="newCheckeds.mylistKey"
                                                   ng-pattern="/^[A-Za-z0-9_-]*$/" required>
                                        </div>
                                    </div>
                                    <div class="delimiter"><i class="fa fa-minus"></i></div>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">value</span>
                                            <input type="text" name="serviceLabelValue"
                                                   class="form-control"
                                                   ng-model="newCheckeds.mylistValue"
                                                   ng-pattern="/^[A-Za-z0-9_-]*$/" required>
                                        </div>
                                    </div>
                                    <span class="icon-minus col-sm-1 pull-right col-sm-pull-1">
                                        <i class="fa fa-minus-square" ng-click="delCheckeds($index)"></i>
                                    </span>

                                </div>

                            </div>

                            <div class="form-group">
                                <div class="controls row">
                                    <label class="form-label">端口组：</label>
                                    <span class="desc show-spans-1" ng-show=" login.servicePortName.$error.pattern">您输入的格式不正确</span>
                                    <span class="desc show-spans-1"
                                          ng-show=" !login.servicePortName.$error.pattern && (login.servicePortportName.$error.pattern || login.serviceTargetPortName.$error.pattern)">请输入1 - 65525之间的数字</span>

                                    <span class="icon-plus col-sm-1 pull-right col-sm-pull-1">
                                            <i class="fa fa-plus-square" ng-click="addPort()"></i>
                                    </span>
                                </div>

                                <div class="controls row" ng-repeat="portlists in ports">

                                    <div class="controls row">
                                        <div class="col-sm-5">
                                            <div class="input-group">
                                                <span class="input-group-addon">名称</span>
                                                <input type="text" name="servicePortName"
                                                       class="form-control server-btn" ng-model="portlists.name"
                                                       ng-pattern="/^[a-z0-9_-]*$/" required readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="input-group">
                                                <span class="input-group-addon">Target Port</span>
                                                <input type="text" name="serviceTargetPortName"
                                                       class="form-control server-btn"
                                                       ng-model="portlists.targetPort"
                                                       ng-pattern="/^([1-9]|[1-9]\d|[1-9]\d{2}|[1-9]\d{3}|[1-5]\d{4}|6[0-4]\d{3}|65[0-4]\d{2}|655[0-2]\d|6553[0-5])$/"
                                                       required>
                                            </div>
                                        </div>

                                        <span class="icon-minus col-sm-1 pull-right col-sm-pull-1">
                                            <i class="fa fa-minus-square" ng-click="delPort($index)"></i>
                                        </span>
                                    </div>


                                    <div class="controls row">
                                        <div class="col-sm-5">
                                            <div class="input-group">
                                                <span class="input-group-addon">port</span>
                                                <input type="text" name="servicePortportName"
                                                       class="form-control server-btn"
                                                       ng-model="portlists.port"
                                                       ng-pattern="/^([1-9]|[1-9]\d|[1-9]\d{2}|[1-9]\d{3}|[1-5]\d{4}|6[0-4]\d{3}|65[0-4]\d{2}|655[0-2]\d|6553[0-5])$/"
                                                       required>
                                            </div>
                                        </div>

                                        <div class="col-sm-5">
                                            <div class="input-group">
                                                <span class="input-group-addon">NodePort</span>
                                                <input type="text" class="form-control server-btn"
                                                       ng-disabled="serverDisabled"
                                                       ng-model="portlists.nodePort"
                                                       ng-pattern="/^(?:[0-9]{1,5})$/">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="controls row">
                                        <div class="col-sm-5">
                                            <div class="input-group">
                                                <span class="input-group-addon">协议</span>
                                                <!--<select ng-model="portlists.protocol" class="form-inputs"-->
                                                        <!--ng-options="act for act in activities" ></select>-->

                                                <select ng-model="portlists.protocol" class="form-control">
                                                    <option ng-repeat="act in activities" ng-selected="$first"
                                                            value="{{act}}">{{act}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>


                            <div class="form-group">
                                <div class="controls row">
                                    <label class="form-label">标签组：</label>
                                    <span class="desc show-spans-1"
                                          ng-show="login.serviceLabelsKey.$error.pattern || login.serviceLabelsVal.$error.pattern">格式不正确，仅允许字母数字下划线</span>
                                    <span class="icon-plus col-sm-1 pull-right col-sm-pull-1">
                                            <i class="fa fa-plus-square" ng-click="addLabels()"></i>
                                    </span>
                                </div>
                                <div class="controls row">
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">key</span>
                                            <input type="text" placeholder="name"
                                                   class="form-control server-btn" ng-model="portsname"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="delimiter"><i class="fa fa-minus"></i></div>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">value</span>
                                            <input type="text" placeholder="{{ param.serviceName }}"
                                                   class="form-control server-btn" ng-model="portsarrange"
                                                   readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="controls row">
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">key</span>
                                            <input type="text" placeholder="author"
                                                   class="form-control server-btn" ng-model="portsname"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="delimiter"><i class="fa fa-minus"></i></div>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">value</span>
                                            <input type="text" placeholder="{{ sessionName }}"
                                                   class="form-control server-btn" ng-model="portsarrange"
                                                   readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="controls row">
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">key</span>
                                            <input type="text" placeholder="type"
                                                   class="form-control server-btn" ng-model="portsname"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="delimiter"><i class="fa fa-minus"></i></div>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">value</span>
                                            <input type="text" placeholder="service"
                                                   class="form-control server-btn" ng-model="portsarrange"
                                                   readonly>
                                        </div>
                                    </div>
                                </div>


                                <div class="controls row" ng-repeat="lei in leis">

                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">key</span>
                                            <input type="text" name="serviceLabelsKey"
                                                   class="form-control server-btn" ng-model=" lei.leiKey "
                                                   ng-pattern="/^[A-Za-z0-9_-]*$/" required>
                                        </div>
                                    </div>
                                    <div class="delimiter"><i class="fa fa-minus"></i></div>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">value</span>
                                            <input type="text" name="serviceLabelsVal"
                                                   class="form-control server-btn"
                                                   ng-model=" lei.leiValue "
                                                   ng-pattern="/^[A-Za-z0-9_-]*$/" required>
                                        </div>
                                    </div>
                                    <span class="icon-plus col-sm-1 pull-right col-sm-pull-1">
                                            <i class="fa fa-minus-square" ng-click="delLabels($index)"></i>
                                    </span>

                                </div>


                            <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                <div class="text-left">
                                    <button class="btn btn-primary" ng-disabled="login.$invalid">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</section>

<status-mes message="message" status="status" ng-if="showstatusMes"></status-mes>

