<section class="wrapper main-wrapper row" style="">
    <div class='col-xs-12'>
        <div class="page-title">
            <div class="pull-left">
                <h1 class="title">个人设置</h1>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12">
        <section class="box ">
			<div class="content-body">
		        <table class='personalS_table'>
			        <tr>
			        	<td>用户名：</td>
			        	<td>admin</td>
			        </tr>
			        <tr>
			        	<td>所属组织：</td>
			        	<td>dev</td>
			        </tr>
			        <tr>
			        	<td>配额：</td>
			        	<td>dev</td>
			        </tr>
			        <tr>
			        	<td>预算：</td>
			        	<td>5000 元</td>
			        </tr>
			        <tr>
			        	<td>余额：</td>
			        	<td>2000 元</td>
			        </tr>
		        </table>
		        <div class="col-md-3 col-sm-4 col-xs-12" style="width:150px;left: 70%; top: 30%; position: absolute;border:1px solid #ccc;">
					<div class="uprofile-image">
						<img alt="" src="data/profile/profile-music.jpg" class="img-responsive">
					</div>
					<div class="uprofile-name">
						<button>修改头像</button>
					</div>
				</div>
			</div>
        </section>
    </div>
</section>