/*镜像管理样式调整*/


/*2016-09-02 by licheng*/

.content-body .col-xs-12 .row>div {
    padding: 15px 15px;
}

.content-body .col-xs-12 .row .team-img img {
    position: absolute;
    height: 147px;
    top: 0;
    left: 0;
}


/*基础镜像样式修改*/


/*2016-09-02 by licheng*/

.tool-1 {
    margin-bottom: 10px;
}

.tool-1 .tool-2 {
    height: auto;
}

.java-1 {}

.java-2 {
    background: url(./data/albums/javabig.png) no-repeat;
    background-size: 80% 100%;
    background-position: 50%;
    height: 250px;
    min-height: 250px;
}

.clangular-1 {
    background-color: #ce2127;
}

.clangular-2 {
    background: url(data/albums/Clangular.png) no-repeat;
    background-position: 50%;
    height: 250px;
}

.nginx-1 {
    background-color: #369750;
}

.nginx-2 {
    background: url(data/albums/Nginx.png) no-repeat;
    background-position: 50%;
    height: 250px;
    background-size: 80%;
}

.mysql-2 {
    background: url(data/albums/mysql.png) no-repeat;
    background-position: 50%;
    height: 250px;
    background-size: 100%;
}

.cpp-1 {
    background-color: #295d88;
}

.cpp-2 {
    background: url(data/albums/cpp.png) no-repeat;
    background-position: 50%;
    height: 250px;
}


/*滑块*/

.controls-1 li {
    list-style-type: none;
}

.bar-1 {
    height: 10px;
}

.bar-1 .grid {
    border-left: 2px solid #fff;
    display: inline-block;
    margin-left: -1px;
    margin-right: -1px;
    vertical-align:middle;
}

.bar-0 .bar-1 {
    background: -webkit-linear-gradient(left, #cccccc, #03A9F4);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, #cccccc, #03A9F4);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, #cccccc, #03A9F4);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #fff, #03A9F4);
    /* 标准的语法 */
    border-radius: .75em;
    position: relative;
    margin: 0;
}

.bar-0 ul,
.bar-0 li {
    font-size: 0;
    margin: 0;
    padding: 0;
    line-height: normal;
}

.bar-0 .ui-slider.slider-primary .ui-widget-header {
    /*border: 1px solid #FFF;
    background: #FFF;
    color: #FFF;*/
    opacity: 0;
}
.bar-0 .ui-slider-horizontal .ui-slider-handle .ui-label{
    margin-left: 6px;
}
.bar-1 ul {
    position: absolute;
    top: -1px;
    left: 10px;
    line-height: 10px;
}

.bar-1 .grid:first-child() {
    border: none;
}
