/*镜像管理样式调整*/


/*2016-09-02 by licheng*/

.content-body .col-xs-12 .row>div {
 /*   padding: 15px 15px;     */
}

.content-body .col-xs-12 .row .team-img img {
    position: absolute;
    height: 147px;
    top: 0;
    left: 0;
}


/*基础镜像样式修改*/


/*2016-09-02 by licheng*/

.tool-1 {
    margin-bottom: 10px;
}

.tool-1 .tool-2 {
    height: auto;
}

.java-1 {}

.java-2 {
    background: url(../data/albums/javabig.png) no-repeat;
    background-size: 80% 100%;
    background-position: 50%;
    height: 250px;
    min-height: 250px;
}

.clangular-1 {
    background-color: #ce2127;
}

.clangular-2 {
    background: url(../data/albums/Clangular.png) no-repeat;
    background-position: 50%;
    height: 250px;
}

.nginx-1 {
    background-color: #369750;
}

.nginx-2 {
    background: url(../data/albums/Nginx.png) no-repeat;
    background-position: 50%;
    height: 250px;
    background-size: 80%;
}

.mysql-2 {
    background: url(../data/albums/mysql.png) no-repeat;
    background-position: 50%;
    height: 250px;
    background-size: 100%;
}

.cpp-1 {
    background-color: #295d88;
}

.cpp-2 {
    background: url(../data/albums/cpp.png) no-repeat;
    background-position: 50%;
    height: 250px;
}
/*警告样式*/
.warn{
    position: absolute;
}
/*滑块样式*/
.bar-0 ul,
.bar-0 li {
    font-size: 0;
    padding: 0;
}
.bar-0 div:before {
    content: "";
    display: table;
    line-height: 0;
}
    
.bar-0 div:after {
    display: table;
    content: "";
    width: 0;
    clear: both;
}
    
.bar-0 {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}
    
.bar-1 {
    background: -webkit-linear-gradient(left, #cccccc, #51adfd);
        /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, #cccccc, #51adfd);
        /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, #cccccc, #51adfd);
        /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #cccccc, #51adfd);
        /* 标准的语法 */
    display: block;
    height: 10px;
    width: 100%;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: relative;
}
.more{
    position: absolute;
    width: 10px;
    height: 10px;
}
.bar-0 ul{
    padding-left: 5px;
}
.push-1 {
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -6px;
    left: -10px;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
    
.bar-1 .grid {
    border-left: 2px solid #fff;
    display: inline-block;
    margin-left: -1px;
    margin-right: -1px;
}
    
.bar-1 li:first-child {
    border: none;
}
    
.value-1 {
    margin-top: 10px;
}
    
.value-1>div {
    float: left;
}
    
.value-1 .value-max {
    float: right;
}
