/*修正Firefox上的小BUG*/


/*2016-09-27 by licheng*/

.tool-1 {
    margin-bottom: 10px;
}

.tool-1 .tool-2 {
    height: auto;
}

.tool-1 .custom-dropzone {
    width: 100%;
}

.tool-2 .table {
    margin-bottom: 0;
}

.java-1 {}

.java-2 {
    background: url(../data/albums/java.png) no-repeat;
    background-size: 70%;
    background-position: 50%;
    height: 250px;
    min-height: 250px;
}

.clangular-1 {
    background-color: #ce2127;
}

.clangular-2 {
    background: url(../data/albums/Clangular.png) no-repeat;
    background-position: 50%;
    height: 250px;
}

.nginx-1 {
    background-color: #369750;
}

.nginx-2 {
    background: url(../data/albums/Nginx.png) no-repeat;
    background-position: 50%;
    height: 250px;
    background-size: 80%;
}

.python-1 {
    background: url(../data/albums/python.png) no-repeat;
    background-position: 50%;
    height: 250px;
    background-size: 100%;
}

.mysql-2 {
    background: url(../data/albums/mysql.png) no-repeat;
    background-position: 50%;
    height: 250px;
    background-size: 100%;
}

.cpp-1 {
    background-color: #295d88;
}

.cpp-2 {
    background: url(../data/albums/cpp.png) no-repeat;
    background-position: 50%;
    height: 250px;
}


/*警告样式*/

.warn {
    position: absolute;
}


/*菜单栏优化 2016-09-27 by licheng*/

.page-sidebar .profile-info {
    margin-bottom: 10px;
}


/*滑块样式调整 2016-10-11 by licheng*/

.rzslider span.rz-floor {
    display: none;
}

.rzslider span.rz-ceil {
    display: none;
}


/*进度条样式调整 2016-10-11 by licheng*/

.appdemoS .ng-scope .progress {
    height: 10px;
    border-radius: 15px;
    width: 80%;
    vertical-align: middle;
    line-height: 10px;
    margin: 5px auto;
}

.appdemoS .ng-scope .progress-bar-info {
    background-color: #4caf50;
}

.appdemoS .ng-scope .progress-bar {
    border-radius: 15px;
}
